body {
    font-family: serif;
    margin: 0;
    padding: 0;
    background-color: #feacc8;
    color: #333;
	align-items: center;
}

header {
    background: #fe8bb3;
    color: white;
    padding: 1rem;
    text-align: center;
	align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li{
            list-style: none;
            display: inline-block;
            margin: 0 20px;
            position: relative;
        }
        
        .navbar ul li a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
        }
        
        .navbar ul li:after{
            content: '';
            height: 3px;
            width: 0;
            background: #f24b7f;
            position: absolute;
            left: 0;
            bottom: -10px;
            transition: 0.5s;
        }
        
        .navbar ul li:hover:after{
            width: 100%;
        }

.logo{
            cursor: pointer;
			align-items: center;
	object-position: 20px;
        }

.logo1{
	align-items: center;
	cursor: pointer;
}

.logo2{
	align-items: center;
	cursor: pointer;
	object-position: 5px;
}

.section {
    padding: 50px;
    text-align: center;
    background: #fe8bb3;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background: #feacc8;
    color: white;
    margin-top: 20px;
}

a:link, a:visited {
  background-color: #a24e60;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #3b172d;
}

